{% extends 'wrapper.html' %}
{% block content %}
<div class="form-group">
    <div class="row">
        <div class="col-2">

            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#inlineForm">
            Qo'shish
        </button>
    </div>
    
    <div class="col-5">
        <div class="input-group">
            
            <input type="search" id="form1" class="form-control" placeholder="Search">
        </div>
    </div>
</div>


    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel33">Bola Qo'shish</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-1">
                            <label for="name" class="form-label">Ism Familys</label>
                            <input type="text" name="name" required id="name" class="form-control" placeholder="Ism Familys">
                        </div>
                        <div class="form-group mb-1">
                            <label for="phone" class="form-label">Phone</label>
                            <input type="text" name="phone"  required id="phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group mb-1">
                            <label for="date" class="form-label">Tug'ilgan Sana</label>
                            <input type="date" name="date" required id="date" class="form-control">
                            
                        </div> 

                        <div class="form-group mb-1">
                            <label for="group" class="form-label">Group</label>
                            <select name="group" id="group" class="form-control">
                                {% for i in group %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span>
                            </button>
                            <button type="submit" class="btn btn-primary ms-1">
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>  

<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Bolalar</h4>
            </div>
            <div class="card-body">
                {% for i in child %}
                <div class="modal-danger me-1 mb-1 d-inline-block">
                    <div class="modal fade text-left" id="danger{{i.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel120" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h5 class="modal-title white" id="myModalLabel120">Delete
                                    </h5>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   {{i}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>
                                    <form action="{% url 'delete_chaild' i.id %}" method="post">
                                        {% csrf_token %}
                                    <button type="submit" class="btn btn-danger ms-1"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Delete</span>
                                    </button>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <div class="modal fade text-left" id="inlineForm{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel33">Tahtirlash</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'chaild_edit' i.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group mb-1">
                                            <label for="name" class="form-label">Ism Familys</label>
                                            <input type="text" name="name" required id="name" class="form-control"  value="{{i.name}}" placeholder="Ism Familys">
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="phone" class="form-label">Phone</label>
                                            <input type="text" name="phone"  required id="phone" class="form-control" value="{{i.phone}}" placeholder="Phone">
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="date" class="form-label">Tug'ilgan Sana {{ i.birth_date}}</label>
                                            <input   name="date" required id="date" value="{{ i.birth_date}}"class="form-control">
                                            
                                        </div> 
                
                                        <div class="form-group mb-1">
                                            <label for="group" class="form-label">Group</label>
                                            <select name="group" id="group" class="form-control">
                                                <option value="{{ i.group.id }}">{{ i.group.name }}</option>
                                                {% for f in group %}
                                                {% if i.group == f %}
                                                {% else %}
                                                <option value="{{ f.id }}">{{ f.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Close</span>
                                            </button>
                                            <button type="submit" class="btn btn-primary ms-1">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Save</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>  

                <div class="comment">
                    <div class="comment-header">
                        <div class="pr-50">
                            <div class="avatar avatar-2xl">
                                <img src="static/assets/compiled/jpg/qwa.jpg" alt="Avatar">    
                            </div>
                        </div>
                        <div class="comment-body">
                            <div class="comment-profileName">  <h4> {{i.name}}</h4> </div>
                            <div class="comment-time">{{i.phone}}</div>
                            <div class="comment-profileName"><h4> {{i.birth_date}}</h4> </div>
                            <div class="comment-profileName"> <h4>{{ i.group.name }}</h4>  </div>
                            <div class="comment-actions">
                                <!-- <button class="btn icon icon-left btn-primary me-2 text-nowrap"><i class="bi bi-eye-fill"></i> Show</button> -->
                                <button class="btn icon icon-left btn-warning me-2 text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#inlineForm{{i.id}}"  ><i class="bi bi-pencil-square"></i> Edit</button>
                                <button class="btn icon icon-left btn-danger me-2 text-nowrap" data-bs-toggle="modal"
                                data-bs-target="#danger{{i.id}}"><i class="bi bi-x-circle"></i> Remove</button>
                                
                            </div>

                        </div> 
                        <div class="comment-body"></div>
                        <div class="comment-body"></div>
                        <div class="comment-body"></div>
                        <div class="comment-body">
                            
                            <div class="comment-profileName">  <h4> {{ i.tarif.name }}</h4> </div>
                            <div class="comment-time">{{i.tarif.amount}}</div>
                            <div class="comment-profileName"><h4> {{i.tarif.created}}</h4> </div>
                            <div class="comment-profileName"> <h4>{{ i.group.name }}</h4>  </div>
                            <div class="comment-actions">
                                <!-- <button class="btn icon icon-left btn-primary me-2 text-nowrap"><i class="bi bi-eye-fill"></i> Show</button> -->
                                <button class="btn icon icon-left  btn-primary me-2 text-nowrap"  data-bs-toggle="modal"
                                data-bs-target="#inlineForm_tarif{{i.id}}" ><i class="bi bi-pencil-square"></i> Edit</button>
                                <div class="form-group">
                                    <div class="modal fade text-left" id="inlineForm_tarif{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel33">Tahtirlash Tarif</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'chaild_edit_tarif' i.id %}" method="post">
                                                        {% csrf_token %}
                            
                                
                                                        <div class="form-group mb-1">
                                                            <label for="tarif" class="form-label">Tarif</label>
                                                            <select name="tarif" id="tarif" class="form-control">
                                                                
                                                                <option value="{{ i.tarif.id }}">{{ i.tarif.name }}</option>
                                                                {% for f in tarif %}
                                                                {% if i.tarif == f %}
                                                                {% else %}
                                                                <option value="{{ f.id }}">{{ f.name }}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Close</span>
                                                            </button>
                                                            <button type="submit" class="btn btn-primary ms-1">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Save</span>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>  
                                
                            </div>
                        </div>

                	</div>
            	</div>
                {% endfor %}
                {% if child.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example ">
                    <ul class="pagination pagination-primary justify-content-end">
                        {% if child.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ child.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="First">
                                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                </a>
                            </li>
                        {% endif %}
                
                        {% for num in child.paginator.page_range %}
                            {% if child.number == num %}
                                <li class="page-item active">
                                    <a class="page-link" href="#">{{ num }}</a>
                                </li>
                            {% elif num > child.number|add:-3 and num < child.number|add:3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                
                        {% if child.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ child.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ child.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                </a>
                            </li>
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Last">
                                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>


                {% endif %}
                
                

            </div>
        </div>
    </section>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    // search inputiga event listener qo'shish
    $('#form1').on('keyup', function() {

        let query = $(this).val();
        if (query.length > 2) {
            $.ajax({
                url: '/search-child/',  // O'z URL manzilingizni kiriting
                data: {
                    'query': query
                },
                dataType: 'json',
                success: function(data) {
                    let tbody = $('#search-results');
                    tbody.empty();  // Jadvalning tanlangan qismidagi eski natijalarni tozalash
                    
                    $.each(data, function(index, item) {
                        let row = `
                            <tr>
                                <td class="text-bold-500" data-bs-toggle="modal" data-bs-target="#inlineForm${index}">
                                    <a style="color: blue;">${item.date}</a>
                                </td>
                             
                                <td class="text-bold-500">${item.user__username} </td>
                                <td class="text-bold-500">${item.teacher_1__username}  </td>
                                <td class="text-bold-500">${item.teacher_2__username}  </td>
                                <td class="text-bold-500">${item.summa}</td>
                                <td class="text-bold-500">
                                    <a href="#" id="info-${index}" 
                                        data-izoh="${item.description}"
                                        
                                        data-name_1="${item.teacher_1__username}"
                                        data-name_2="${item.teacher_2__username}"
                                        data-1_before_cash="${item.teacher_1_before_cash || ''}"
                                        data-1_after_cash="${item.teacher_1_after_cash || ''}" 

                                        data-2_before_cash="${item.teacher_2_before_cash || ''}"
                                        data-2_after_cash="${item.teacher_2_after_cash || ''}"
                                        >Info</a>
                                </td>
                            </tr>`;
                        tbody.append(row);  // Jadval qismiga yangi qator qo'shish
                    });

                    
                   
                }
            });
        }
    });
});

</script>

{% endblock content %}