{% extends 'wrapper.html' %}
{% block content %}
{% load i18n %}
 <!-- Basic Tables start -->
 <section class="section">
    <div class="row" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-lg">
                                <thead>
                                    <tr>
                                        <th>{% trans 'Name' %}</th>
                                        <th>{% trans 'Teacher' %}</th>
                                        <th>{% trans 'Helper' %}</th>
                                        <th>{% trans 'Number of children' %}</th>
                                    
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="text-bold-500">{{group.name}}</td>
                                        <td class="text-bold-500">{{group.teacher}}</td>
                                        <td class="text-bold-500">{{group.helper}}</td>
                                        <td class="text-bold-500">{{group.child.all.count}}</td>

                                    </tr>

                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <section class="section">
    <div class="row" id="basic-table">
        <div class="col-12 col-md-12">
            <div class="card">

                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-lg">

                                <tbody>
                                    {% for item in children_attendance %}
                                    <tr>
                                        <td class="text-bold-500">
                                            <a href="{% url 'calendar_child' item.child.id %}">{{ item.child.name }}</a>
                                        </td>
                                        <td class="text-bold-500">{{ item.child.phone }}</td>
                                        <td class="text-bold-500"> <span style="color: brown;">{{item.child.tarif.amount}}  </span> // <span style="color: blue;">{{item.payment_summa}} </span>    </td>
                                        <td class="text-bold-500">  {{item.child.tarif.name}} // {{ item.attendance_monthly }}</td>
                                        <td class="text-bold-500">
                                            <div class="form-check form-switch col-3">
                                                <input class="form-check-input" name="attendance_{{ item.child.id }}" type="checkbox" id="flexSwitchCheckDefault_{{ item.child.id }}" {% if  item.attendance_today == True %}checked{% endif %} onchange="updateAttendance(`{{ item.child.id }}`, this.checked)">
                                                <label class="form-check-label" for="flexSwitchCheckDefault_{{ item.child.id }}">Davomat</label>
                                            </div>
                                        </td>
                                        {% if request.user.is_payment %}
                                        <td class="text-bold-500">
                                            <button class="btn btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#inlineForm{{item.child.id}}">Tolov</button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    
                                    <div class="form-group">
                                        <div class="modal fade text-left" id="inlineForm{{item.child.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel33">{% trans 'Payment' %} {{ item.child.name }}</h4>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'payment_child' item.child.id %}">
                                                            {% csrf_token %}
                                                            <div class="form-group mb-1">
                                                                <label for="summa" class="form-label"> {% trans 'Som' %} </label>
                                                                <input type="number" name="summa" required id="summa"  value="{{item.remaining_amount}}"  class="form-control" placeholder="summa">
                                                            </div>
                                                            <div class="form-group mb-1">
                                                                <label for="date_month" class="form-label">{% trans 'Selected month' %}</label>
                                                                <input type="date" name="date_month" required id="date_month" class="form-control">
                                                            </div>
                                                            <div class="form-group mb-1">
                                                                <label for="description" class="form-label">{% trans 'Comment' %}</label>
                                                                <input type="text" name="description" id="description" class="form-control" placeholder="Izoh">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                                                    <span class="d-none d-sm-block">{% trans "Close" %}</span>
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ms-1">
                                                                    <span class="d-none d-sm-block"> {% trans "Save" %}</span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Basic Tables end -->
{% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-primary justify-content-end">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="First">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ num }}</a>
                    </li>
                {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Last">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}



<script>
    function updateAttendance(childId, is_active) {
        fetch('{% url "update-attendance" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new URLSearchParams({
                'child_id': childId,
                'is_active': is_active
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status !== 'success') {
                // alert('Davomat yangilanmadi!');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // alert('Davomat yangilanmadi!');
        });
    }
</script>

{% endblock content %}