{% extends 'wrapper.html' %}
{% block content %}


            
<div class="page-heading">

    <section class="section">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <div class="avatar avatar-2xl">
                                <img src="/static/assets/compiled/jpg/2.jpg" alt="Avatar">
                            </div>
                            <h3 class="mt-3">{{teacher.username}}</h3> <p class="text-small">{{teacher.group_teachers.all.0}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Your Name" value="{{teacher.username}}">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="form-label">Phone</label>
                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone" value="{{teacher.phone}}">
                            </div>
                            <div class="form-group">
                                <label for="birthday" class="form-label">Birthday</label>
                                <input type="text" name="birthday" id="birthday" class="form-control" value="{{teacher.hired_date}}" placeholder=" Hired date">
                            </div> 
                            <div class="form-group">
                                <label for="gender" class="form-label">Group</label>
                                <select name="gender" id="gender" class="form-control">
                                {% for i in group %}
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}

                                {% for group in other_groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
      
                                </select>
                            </div>

                                <div class="row">
                                    <div class="form-check form-switch col-3">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"> Payment</label>
                                    </div> 
                                    <div class="form-check form-switch col-3">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault"> Salary</label>
                                    </div> 
                                    <div class="form-check form-switch col-3">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Child</label>
                                    </div>   
                                     <div class="form-check form-switch col-3">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                                    </div>
                                </div><br>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock content %}