{% extends 'wrapper.html' %}
{% block content %}


<section class="section">
    <div class="row" id="table-inverse">
        <h5>Tarbiyachilar</h5>
        <div class="col-12">
            <div class="card">

                <div class="card-content">


                    <div class="table-responsive">
                        <table class="table table-dark mb-0">

                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NAME</th>
                                    <th>Phone</th>
                                    <th>Lavozimi</th>
                                    <th>Group</th>
                                    <th>Maosh</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in teacher %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td class="text-bold-500">{{i.username}}</td>
                                        <td>{{i.phone}} </td>
                                        <td>{{i.get_type_display}}</td>
                                        <td >
                                            {% if i.group_teachers %}
                                                {{i.group_teachers.name }}
                                            {% elif i.group_helpers  %}
                                                {{ i.group_helpers  }}
                                            {% else %}
                                                None
                                            {% endif %}
                                        </td>
                                        <td>{{ i.salaries.amount }}</td>
                                        <td><a href="#"> Info</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}