venv/
*.sqlite3
__pycache__/
migrations/
media/
*.pyc
debug.log
f.py
# If you are using PyCharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/
.gpj
jpg/
.DS_store
set_database.py
server.txt